.congrats {
	display: flex;
	flex-direction: column;
	vertical-align: auto;
	align-items: center;
	width: 100%;
	height: 980px;
	&__data {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 700px;
		position: fixed;
		height: 800px;
		top: 50px;
		background-color: #607ae4;
		border-radius: 50px;
	}
	&__texts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		color: white;
		font-family: "Inter";
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 26px;
	}
	&__additional {
		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 26px;
		margin-top: 20px;
	}
	&__frame {
		width: 150px;
		height: 150px;
		background: white;
		border-radius: 15px;
		&__text {
			font-family: "Inter";
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 26px;
			text-align: center;
			color: #959595;
			margin: 5px 0;
		}
		&__emptiness {
			position: relative;
			left: 5px;
			width: 140px;
			height: 109px;

			background: #607ae4;
			border-radius: 15px;
			display: flex;
			flex-direction: column;
		}
		&__level {
			font-family: "Inter";
			font-style: normal;
			font-weight: 700;
			font-size: 32px;
			line-height: 26px;
			text-align: center;
			color: #ffffff;
			margin: 40px 0;
		}
	}
	&__image {
		width: 170px;
		height: 172px;
	}
	&__button {
		background-color: #93e85f;
		border: #93e85f;
		width: 315px;
		font-size: 24px;
	}

	&__texts,
	&__frame,
	&__image,
	&__button {
		margin: 40px 0;
	}

	&__tile {
		padding: 0;
		border: 0;
		// cursor: pointer;
		// box-shadow: 5px 5px 20px 5px #a4afa2;

		width: 250px;
		height: 250px;
		// margin-left: 35px;
		// margin-bottom: 35px;
		background: #d84864;
		border-radius: 30px;
		&__title {
			display: flex;
			justify-content: center;
			margin-top: 15px;
			height: 52px;
			font-family: "Inter";
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 26px;
			text-align: center;
			color: #ffffff;
		}
		&__belt {
			background-color: #ffffff;
			color: #5e5e5e;
			width: 250px;
			height: 50px;
			margin-top: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__belt-title {
			font-family: "Inter";
			font-style: normal;
			font-weight: 300;
			font-size: 24px;
			line-height: 26px;
			text-align: center;
			color: #5e5e5e;
		}
		&__coins {
			margin-top: 5px;
			display: flex;
			flex-direction: row;
			justify-content: center;

			font-family: "Inter";
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 26px;
			text-align: center;
			color: rgb(223, 223, 223);

			&__coins-icon {
				width: 45px;
				height: 45px;
			}
			&__coins-number {
				margin-top: 10px;
				margin-left: 5px;
			}
		}
	}
}
