<div class="congrats">
    <div class="congrats__data">
        <div class="congrats__texts">
            <div class="congrats__header">Congratulations!</div>
            <div class="congrats__additional">You gained extra coins</div>
        </div>
        <div class="congrats__frame">
            <div class="congrats__frame__text">Coins</div>
            <div class="congrats__frame__emptiness">
                <div class="congrats__frame__coins"> 5 </div>
            </div>
        </div>
        <div>
            <img class="congrats__image" src="../../../assets/img/balloons.png" alt="Congratulations">
        </div>
        <div>
            <button pButton pRipple type="button" label="Continue"
                class="congrats__button p-button-rounded p-button-lg p-button-raised" (click)="continue()"></button>
        </div>
    </div>
</div>