<div class="highscore">
    <div class="highscore__top-bar">
        <button class="highscore__go-back" (click)="goBackHome()">
            <img src="./../../assets/img/arrowhead.png" alt="">
        </button>
        <span class="highscore__title">Highscore table</span>
    </div>
    <div class="highscore__container">
        <div class="highscore__module">
            <div>
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Score</th>
                        <th>Username</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Yoshi Tannamuri</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Giovanni Rovelli</td>
                        <td>Italy</td>
                    </tr>
                </table>
            </div>
            <button pButton pRipple type="button" label="Continue"
                class="highscore__button p-button-rounded p-button-lg p-button-raised" (click)="onContinue()"></button>
        </div>
    </div>
</div>