.home {
	display: flex;
	flex-direction: column;
	vertical-align: auto;
	align-items: center;
	width: 100%;
	height: 980px;
	&__top-bar {
		display: flex;
		width: 700px;
		height: 100px;
		left: 370px;
		top: 0px;
		background: #93e85f;
		border-radius: 0px 0px 50px 50px;
	}
	&__title {
		display: flex;
		flex-direction: column;
		align-self: center;
		width: 100%;
		height: 30px;
		font-family: "Inter";
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 26px;
		text-align: center;
		color: #ffffff;
	}
	&__profile {
		display: flex;
		flex-direction: column;
		width: 700px;
		height: 300px;
		left: 370px;
		top: 130px;
		background: #ffffff;
		border-radius: 50px;
		.horizontal {
			display: flex;
			align-self: center;
			width: 560px;
			height: 0px;
			border: 1px solid #eeeeee;
			margin: 0;
		}
	}
	&__data {
		padding: 30px 70px 0 70px;
		// gap: 100px;
		flex-grow: 1;
	}
	&__data,
	&__points {
		display: flex;
		width: 100%;
		height: 100%;
		.vertical {
			transform: rotate(90deg);
			display: flex;
			align-self: center;
			width: 100px;
			height: 0px;
			border: 1px solid #eeeeee;
		}
	}
	&__avatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
	&__scores {
		width: 400px;
		height: 120px;
		display: flex;
		flex-direction: column;
	}
	&__username {
        display: flex;
        justify-content: center;
        
		width: 100px;
		height: 100px;
	}
	&__name {
		align-self: auto;


		font-family: "Inter";
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		color: #373737;
	}
	&__achievements {
		width: 100px;
		height: 100px;
		background-color: #4864d8;
	}

	&__action {
		width: 700px;
		height: 430px;
		left: 370px;
		top: 478px;
		background: #ffffff;
		border-radius: 50px;
	}

	&__top-bar,
	&__profile,
	&__action {
		margin-bottom: 30px;
	}
}
