<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./home.component.scss" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v103_32">
        <div class="v103_33"><span class="v106_40">Username</span>
            <div class="v110_17"><span class="v110_18">YOUR POINTS</span><span class="v110_19">200</span></div>
            <div class="v110_20"><span class="v110_21">UNTIL NEXT LEVEL</span><span class="v110_22">800</span></div>
            <div class="v106_42"></div>
            <div class="v107_50"><span class="v107_49">10</span>
                <div class="v107_44"></div>
            </div>
            <div class="v110_24"><span class="v108_56">Level 1</span>
                <div class="v108_55"></div>
            </div>
            <div class="v110_15"></div>
            <div class="name"></div>
        </div>
        <div class="v106_39"><span class="v104_38">Learn a language </span></div>
        <div class="v110_25"></div>
        <div class="v112_34"></div><span class="v113_35">PLAY</span><span class="v114_36">Highscore
            table</span><span class="v116_41">How to</span>
        <div class="v114_38"></div>
        <div class="v115_40"></div>
    </div>
</body>

</html>