<div class="home">
    <div class="home__top-bar">
        <span class="home__title">Learn Polish</span>
    </div>
    <div class="home__profile">
        <div class="home__data">
            <div>
                <img class="home__avatar" src="https://via.placeholder.com/100?text=user+image" alt="Username">
            </div>
            <div class="home__scores">
                <div class="home__username">
                    <span class="home__name">{{username}}</span>
                </div>
                <div class="home__achievements">
                    <div class="home__level">
                        <img class="home__level-icon" src="./../../assets/img/v143_44.png" alt="level">
                        <span class="home__level-text">Level {{level}}</span>
                    </div>
                    <div class="home__coins">
                        <img class="home__coins-icon" src="./../../assets/img/v107_44.png" alt="coins">
                        <span class="home__coins-text">{{coins}}</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="horizontal">
        <div class="home__points">
            <div class="home__points__number-cointainer">
                <div class="home__points__number-cointainer2">
                    <span class="home__points__number">{{points}}</span>
                    <span class="home__points__number-text">YOUR POINTS</span>
                </div>
            </div>
            <hr class="vertical">
            <div class="home__points__next-container">
                <div class="home__points__next-cointainer2">
                    <span class="home__points__next">{{pointsUntilNext}}</span>
                    <span class="home__points__next-text">UNTIL NEXT LEVEL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="home__action">
        <div class="home__action__highscore">
            <button (click)="checkHighScore()">
                <img class="home__action__highscore-icon" src="./../../assets/img/v114_38.png" alt="">
                <span class="home__action__highscore-text">Highscore table</span>
            </button>
        </div>
        <div class="home__action__play">
            <button (click)="play()">
                <img class="home__action__play-icon" src="./../../assets/img/v112_34.png" alt="">
                <span class="home__action__play-text">PLAY</span>
            </button>
        </div>
        <div class="home__action__settings">
            <button (click)="settings()">
                <img class="home__action__settings-icon" src="./../../assets/img/v115_40.png" alt="">
                <span class="home__action__settings-text">Settings</span>
            </button>
        </div>
    </div>
</div>