<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="./home.component.scss" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="home">
        <div class="home__top-bar">
            <span class="home__title">Learn a language</span>
        </div>
        <div class="home__profile">
            <div class="home__data">
                <div>
                    <img class="home__avatar" src="https://via.placeholder.com/100?text=user+image" alt="Username">
                </div>
                <div class="home__scores">
                    <div class="home__username">
                        <span class="home__name">Username</span>
                    </div>
                    <div class="home__achievements"></div>
                </div>
            </div>
            <hr class="horizontal">
            <div class="home__points">
                <div></div>
                <hr class="vertical">
                <div></div>
            </div>
        </div>
        <div class="home__action"></div>
    </div>
</body>

</html>