<div class="auth-container">
    <form class="auth-form p-inputtext-lg p-button-lg">
        <input class="auth-form__username" placeholder="Username" [formControl]="username" type="text" pInputText>
        <input class="auth-form__email" placeholder="Email" [formControl]="email" type="text" pInputText>
        <input class="auth-form__password" placeholder="Password" [formControl]="password" type="password" pInputText>
        <button class="auth-form__button-sign p-button-lg" type="button" (click)="signUp()" pButton>Sign
            Up</button>
    </form>
</div>