<div class="categories">
    <div class="categories__top-bar">
        <button class="categories__go-back" (click)="goBackHome()">
            <img src="./../../assets/img/arrowhead.png" alt="">
        </button>
        <span class="categories__title">Categories</span>
    </div>
    <div class="categories__container">
        <button id="0" class="categories__tile" (click)="selectCategoryFood()">
            <div class="categories__tile__title">Food</div>
            <div class="categories__tile__belt">
                <div class="categories__tile__belt-title">PLAY</div>
            </div>
        </button>
        <button id="1" class="categories__tile" (click)="selectCategoryHome()">
            <div class="categories__tile__title">Home</div>
            <div class="categories__tile__belt">
                <div class="categories__tile__belt-title">PLAY</div>
            </div>
        </button>
        <button id="2" class="categories__tile" (click)="selectCategoryFamily()">
            <div class="categories__tile__title">Family</div>
            <div class="categories__tile__belt">
                <div class="categories__tile__belt-title">PLAY</div>
            </div>
        </button>
        <button id="3" class="categories__tile" (click)="selectCategoryAnimals()">
            <div class="categories__tile__title">Animals</div>
            <div class="categories__tile__belt">
                <div class="categories__tile__belt-title">PLAY</div>
            </div>
        </button>
        <button id="6" class="categories__tile" (click)="selectCategoryHomophones()">
            <div class="categories__tile__title">Extra: Homophones</div>
            <div class="categories__tile__belt">
                <div class="categories__tile__belt-title">PLAY</div>
            </div>
        </button>
        <button id="5" class="categories__tile" (click)="selectCategoryTransitionWords()">
            <div class="categories__tile__title">Extra: Transition Words</div>
            <div class="categories__tile__belt">
                <div class="categories__tile__belt-title">PLAY</div>
            </div>
        </button>
        <button id="7" class="categories__tile" (click)="selectCategoryFormality()">
            <div class="categories__tile__title">Extra: Formality</div>
            <div class="categories__tile__belt">
                <div class="categories__tile__belt-title">PLAY</div>
            </div>
        </button>
    </div>
</div>