<div class="congrats">
    <div class="data">
        <div class="texts">
            <div class="header">Congratulations!</div>
            <div class="additional">You completed a game</div>
        </div>
        <div class="frame"></div>
        <div class="image">
            <img class="image" src="../../../assets/img/popper.png" alt="Congratulations">
        </div>
        <div class="button">
            <button pButton pRipple type="button" label="Next"
                class="flashcard__button p-button-rounded p-button-lg p-button-raised" (click)="continue()"></button>
        </div>
    </div>
</div>